body{
    font-family: 'Poppins', sans-serif;
}

/* Jumbotron */

.jumbotron{
    background-color: #f2f0ee;
}

.jumbotron h1{
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: underline;
}
/* ------------------------------------------------ */

/* Inputs */

#inputDiv input{
    margin: 30px 0 0 0;  
}

#inputDiv input:focus { 
    border: solid rgb(96, 198, 211);



/* ------------------------------------------------ */

/* Buttons */


/* ------------------------------------------------ */